*{
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;  
    border: none; /* Remove border */
    color: #e8e8e8;
}
.container-admin-login{
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginbox{
    /* login box */
    margin-top: 5%;
    text-align: center;
    max-width: 150vh;
    border-radius: 10px;
    background: rgba(255,255,255,.2);
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(200px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-height: 100vh;
    padding: 30px 40px;
}

.username{
    margin: 0;
    padding: 0;

}

.AGT{
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    font-size: 26px;
    margin: 0;
    font-weight: 600;
}


.label-container{
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align elements to the left */
    flex: 1; /* Grow to fill available space */
    text-align: left; /* Align text to the right */
    margin: 6vh 0;
    height: 3rem;
    width: 25rem;
    background: transparent;
    position: relative;
}
.label-container input{
    width: 95%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 20px;
}
.label-container input::placeholder{
color: #fff;
}
/* Password: */
.password{

    margin: 0;
    padding: 0;
}
body{
    background-color: #160f2b;
}
