*{
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;  
    border: none; /* Remove border */
    color: #e8e8e8;
}
.container-admin-login{
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginbox{
    /* login box */
    margin-top: 5%;
    text-align: center;
    max-width: 150vh;
    border-radius: 10px;
    background-color: rgba(201, 201, 201, 0.274);
    max-height: 100vh;
    padding: 5vh;
}

.username{
    margin: 0;
    padding: 0;

}

.AGT{
    /* WELCOME TO AGT */
  /* identical to box height */
  white-space: nowrap;

  display: flex;
  width: 100%;
  
}

.write-box{
    height: 8vh;
    background: #FFFFFF;
    border-radius: 10px;
    width: 50vh;
}
.label-container{
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align elements to the left */
    margin: 0; /* Remove default margin */
    flex: 1; /* Grow to fill available space */
    text-align: left; /* Align text to the right */
    padding-right: 10px; /* Add some space between label and input */
    padding: 5vh 0;
}
/* Password: */
.password{

    margin: 0;
    padding: 0;
}
body{
    background-color: #160f2b;
}